{{- $name       := .Get "name" -}}
{{- $annotation := .Get "annotation" -}}
{{- $isOpen     := ne (.Get "open") "false" -}}
{{- $hasInner   := .Inner -}}
<li class="filetree-item" role="treeitem"{{- if $hasInner }} aria-expanded="true"{{- end -}}>
<div class="filetree-row filetree-folder-row">
{{- if $isOpen -}}
<svg class="filetree-icon filetree-folder-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z"/></svg>
{{- else -}}
<svg class="filetree-icon filetree-folder-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 7a2 2 0 012-2h4l2 2h8a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2V7z"/></svg>
{{- end -}}
<span class="filetree-name filetree-folder-name">{{- $name -}}/</span>{{- with $annotation -}}<span class="filetree-annotation">{{- . -}}</span>{{- end -}}
</div>
{{- if $hasInner -}}<ul class="filetree-children" role="group">{{- .Inner -}}</ul>{{- end -}}
</li>
